.ppm_header_social {
position: absolute;
top: 3px;
left: 450px;
height: 30px;
width: 200px;
text-decoration: underline;
text-align: center;
font-family: sans-serif;
font-weight: bold;
font-size: 15px;
z-index: 2000;
color: rgb(12, 12, 15);
padding-left: 15px;
}
.ppm_header_social::before {
    content: "Social";
}
.ppm_header_social_body {
    position: fixed;
    top: 24px;
    left: 4%;
    width: 92%;
    height: 90%;
    display: block;
    overflow-y: scroll;
    z-index: 4000;
    color:  green;
    background-color: rgb(255, 255, 255);
    opacity: 1.0;
    margin: 1px;
    border-color: black;

    border-bottom: 3px;
}
.comments {
    float: left;
    width: 69%;
    position: relative;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: block;
}
.sidebar {
    float: right;
    display: block;
    position: relative;
    width: 30%;
    background-color: rgb(255, 255, 255);
    height: 100%;
    margin-top: 100px;
    padding: 4px;
    word-wrap: break-word;
    font-family: serif;
    color: rgb(17, 15, 15);
    box-shadow: -2px 1px 5px -1px rgb(222, 221, 228);
}
.social_body_header {
position: fixed;
width: 91%;
height: 55px;
background-color: #b1c2e5;
z-index: 3000;
}
.social_body_postbox {
    position: fixed;    
    top: 80px;
    width: 62%;
    min-height: 15%;    
    height: auto;
    background: #fff;                    
    z-index: 3000;
}
.social_body_posts {
    position: relative;  
    float: left;  
    width: 98%;
    top: 150px;
    padding-bottom: 20px;    
    margin-top: 40px;
    display: block;
    z-index: 1000;
}

.social_body_header li {
display: inline;
float: left;
margin-left: 20px;
margin-top: 25px;
margin-bottom: 10px;
height: 100%;
color: rgb(12, 12, 15);
font-family: sans-serif;
font-size: 17px;
font-weight: bolder;
padding: 1px;
}
.post-box {
    font-size: 14px;  border: 1px solid #ccc;  
    margin-left: 45px;    
    margin-top: 5px;
    margin-bottom: 8px;
    TEXT-align: left;
    line-height: 20px;  
    position: relative;  
    float: left;
    width: 80%;
    min-height: 40px;
    max-height: 70px;
    overflow: auto;
    cursor: text;
    box-shadow: 1px 2px 5px -2px rgb(129, 136, 151);
}
.tags ul {
    clear: both;
    float: left;
    display: block;
    min-height: 20px;
    margin-left: 5px;
    position: relative;
    font-size: 12px;
    font-family: serif;
}
.buttons li {
    clear: both;
    display: inline;
    font-size: 11px;
    font-family: sans-serif;
    font-weight: bold;
    color: black;
    margin: 4px 4px;
    cursor: pointer;
    padding: 4px 20px;
    background: -webkit-gradient(linear, center top, center bottom, color-stop(0, #ebf4fc), color-stop(.5, #d9e9fc), color-stop(.52, #c6ddf6), color-stop(1,#c3d3eb));
}
.buttons li:hover {
    background: -webkit-gradient(linear, center top, center bottom, color-stop(0, #f8fbff), color-stop(.5, #e4effb), color-stop(.52, #d1e4f8), color-stop(1,#c5d5eb));

}

.buttons {
    clear: both;
    float: left;
    margin-top: 10px;
    margin-left: 45px;
    margin-bottom: 10px;
}
.posts_today:before {
    border: 2px;
    border-color: green;
}
.posts_header {
    position: relative;
    height: 20px;
    clear: both;
    width: 20%;
    margin-bottom: 20px;
    margin-top: 10px;
    float: left;
    background-color: rgb(71, 72, 75);
    color: rgb(250, 250, 247);
    font-family: cursive;
    font-variant: normal;
    font-weight: bold;
    box-shadow: 0 3px 12px -2px rgb(50, 55, 65);
    padding: 2px;
}
.posts_row {
    position: relative;
    clear: both;
    min-height: 60px;
    margin-top: 10px;
    background-color: rgb(247, 247, 248);
    width: 90%;
    margin-left: 10px;
    padding: 4px;
    box-shadow: 1px 2px 8px -2px rgb(165, 170, 202);
}
.profile {
    position: relative;
    float: left;
    width: 20%;
    height: 40px;
    margin-left: 20px;
    background: rgb(248, 247, 247);
}
.handle {
    position: absolute;  left: 0;  width: 12px;  top: 0;  bottom: 0;  
    background: rgb(225, 229, 248);  display: none;
}
.posts_row:hover > .handle {
    display: block;    
}
.posts_row:hover {
    box-shadow: 1px 2px 8px -2px rgb(16, 21, 51);
    cursor: alias;
}
.my_profile {
    position: relative;
    float: left;
    padding: 2px;
    overflow: auto;
    margin-top: 10px;
    margin-left: 20px;
    color: rgb(35, 121, 230);
    width: 85%;
    min-height: 100px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: sans-serif;
    box-shadow: 0px 2px 8px -2px rgb(23, 23, 26);
}
.my_groups {
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    overflow: auto;
    padding-left: 10px;
    padding-top: 10px;
    width: 85%;
    min-height: 80px;
    background-color: white;
    box-shadow: 0px 2px 8px -2px rgb(23, 23, 26);
}
.recent_activity {
    float: left;  
    margin-left: 20px;  margin-top: 10px;  width: 85%;  
    padding-left: 10px;  padding-top: 10px;
    overflow: auto;
    background-color: white;
    min-height: 50%;  
    box-shadow: 0px 2px 8px -2px rgb(23, 23, 26);
}
.social_body_header li:hover {
    background: -webkit-gradient(linear, center top, center bottom, color-stop(0, rgb(245, 246, 250)), color-stop(.5, rgb(243, 245, 247)), color-stop(.52, rgb(129, 166, 207)), color-stop(1,#c3d3eb));
    color: rgb(5, 5, 5);
    background-color: white;
    font-weight: bold;
}
.greyout {
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.4;
    z-index: 998;
    display: none;
    position: fixed;
}
.my_profile li {
    display: block;
    position: relative;
    font-size: 12px;
    margin-top: 40px;
    margin-left: 20px;
    color: rgb(15, 15, 17);
    font-weight: lighter;
    font-family: cursive;
    margin-right: 2px;
    float: left;
}
.my_profile ul {
    clear: both;
    float: left;
}
.my_profile li span {
    display: block;
    color: rgb(181, 182, 190);
}
/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(69, 69, 194, 0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(107, 139, 241, 0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}
.post-box:hover {
    box-shadow: 1px 2px 18px -2px rgb(45, 43, 87);
}
.tags li {
    display: inline;
    margin-right: 6px;
    margin-left: 5px;
    font-family: sans-serif;
    border-bottom: 1px solid #37607D;  
    border-right: 1px solid #37607D;  text-decoration: none;
    background-color: #E0EAF1;  
}
.tags li:hover {  
    border-bottom: 1px solid #3E6D8E;  border-right: 1px solid #7F9FB6;
    background-color: #3E6D8E;  color: #E0EAF1;
}
.tags a {
    text-decoration: none;
    font-size: 12px;
}
.tags a:hover {
    text-decoration: none;
    color: rgb(12, 14, 22);
}
.tags span.tip {
    display: none
}

.tags a:hover span.tip{
    background-color: rgb(80, 84, 97);
    opacity: 0.9;
    color: rgb(231, 227, 227);
    z-index: 4500;

    font-weight: lighter;
    min-height: 40px;
    word-wrap: break-word;
    width: 150px;
    position: relative;}
.tags {
    clear: both;
    text-align: left;
    margin-left: 50px;
    top: 55px;
}
.ppm_header_social:hover {
position: absolute;
top: 3px;
left: 450px;
height: 30px;
width: 200px;
text-decoration: underline;
text-align: center;
font-family: sans-serif;
font-weight: bold;
font-size: 15px;
z-index: 4000;
color: rgb(29, 29, 49);
padding-left: 15px;
background-color: #b1c2e5;
background-image: none;
}
.ppm_header_social {
display: block;
}
.ppm_header_social {
position: absolute;
top: 3px;
left: 550px;
width: 20px;
z-index: 2000;
}

.ppm_header_social:before {
    content:"";
}
.ppm_header_social:hover .ppm_header_social_body {
display: block;
}
.ppm_header_social .ppm_header_social_body {
display: none;
}
.ppm_header_social:hover::before {
content: "Social";
color: rgb(11, 14, 27);
}

.ppm_header_social {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAWCAIAAAAqztkuAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHBSURBVEhLY2Rg1GagPWAiyYptu+dt3jmXJC0QxYzE++b7j/NMLEwMf////P2bj8eUJMuI9c223XN+/Pjx/eu37z++//3ze/3WGTSxRkCI5/uvn99//vwKtOzXL2FhPppY8+Dhy1+/fv/89fvXj58/f/66c/8ZSdaQEDdHzywTExVi+Pfv5euPNmaRtLIGaO7tB9sY/jOoKnqRZAdQMZYkgCvVnru8joWRiZWV9fyVdVitwZPc0QMNV6p9/urAf5jZ////37xx49tXr6prlsHtw5/cUXyDJ9VysLFzc3FxsbGDEDvH08ePq6ur4XYQTO4o1uBJtZv3nN6846SAgOUmIGP3KVVd2zVbDsGtIZjcWZBDGZhqpcSFgSL///5lYGJCTrVxIXkQlXAGkRqxFzZkp1r8GrHkG1JT7eFD0IJHQk4OV3JHtwaYagX5uBiZmd9/+GyoE0R8/sCvkZmBUQxuFjDV8vBwsrCyMDMzc3NxqKkJWpor7dt3maBlBDUiUtqbd0fwp1pclhGjERFo67bO/PL9JxMD479//0GFw///QMTFyR7im4nfN8RoJKHoJBh0eBQQW61RYgf2opNCE7FqBwDaHCSfMfwHjgAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;